/* Basics */
body {
  margin: 0 !important;
  padding: 0;
  background-color: #ffffff;
}
table {
  border-spacing: 0;
  font-family: sans-serif;
  color: #333333;
}

table { border-collapse:collapse; mso-table-lspace:0pt; mso-table-rspace:0pt; }
td {
  padding: 0;
}
img {
  border: 0;
}
div[style*="margin: 16px 0"] {
  margin:0 !important;
}
.wrapper,
.shipping-wrapper{
  width: 100%;
  table-layout: fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.webkit {
  max-width: 600px;
  margin: 0 auto;
}

.outer {
  Margin: 0 auto;
  width: 100%;
  max-width: 600px;
}


.inner {
  padding: 10px;
}
p {
  Margin: 0;
}
a {
  text-decoration: underline;
}
.h1 {
  font-size: 21px;
  font-weight: bold;
  Margin-bottom: 18px;
}
.h2 {
  font-size: 18px;
  font-weight: bold;
  Margin-bottom: 12px;
}






.ReadMsgBody {
  width: 100%;
}
.ExternalClass {
  width: 100%;
}
p,
a,
li,
td,
blockquote {
  mso-line-height-rule: exactly;
}
a[href^=tel],
a[href^=sms] {
  color: inherit;
  cursor: default;
  text-decoration: none;
}
.ExternalClass,
.ExternalClass p,
.ExternalClass td,
.ExternalClass div,
.ExternalClass span,
.ExternalClass font {
  line-height: 100%;
}

img,
a img {
  border: 0;
  height: auto;
  outline: none;
  text-decoration: none;
}

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}

body,
#bodyTable,
#bodyCell {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#outlook a {
  padding: 0;
}