.two-column .banner-column {
  width: 100%;
  max-width: 280px;
  display: inline-block;
  vertical-align: top;
}

div[class="banner-column"] {
  @media (max-width: 600px) {
    max-width: 100% !important;
  }
}
