


.footer {
  font-size: 11px;
  padding: 0 30px;
  a{
  }
}

.footer_legal {
  color: #595853;
  padding-top: 25px;
  a {
    color: #1681c5;
    text-decoration: underline;
    display: inline-block;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
  }
}

.footer_legal_links {
  padding-top: 5px;

}

.footer_address {
  color: #595853;
  padding: 25px 0;
  a {
    //color: #595853;
    @media (min-width: 100px) {
      color: #595853;
      text-decoration: underline;
    }
  }
}


