td[class="navbar"] {

  @media (max-width: 600px) {
    .logo-wrapper {
      width: 100% !important;
    }

  }
}


.logo-wrapper {
  padding: 30px 0 10px;
  max-width: 100%;
  width: 190px;
}

.nav-links {
  width: 405px;
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  td {
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
  }
  a {
    text-transform: uppercase;
    text-decoration: none;
    color: #1681c5;
    font-size: 16px;
  }
}

