.shipping-wrapper {
  background: #595853;
}

.shipping-container {
  max-width: 100%;
  @media(max-width: 600px){
    text-align: center !important;
    width: 100% !important;
  }
}

.shipping-link {
  color: #e7bc13;
}

td[class="shipping"] {
  letter-spacing: .1em;
  text-transform: uppercase;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-decoration: none;
  @media(max-width: 600px){
    text-align: center !important;
    width: 100% !important;
  }
}

.shipping {
  padding: 5px 10px;
  font-size: 14px;
}

table[class="shipping-inner-wrapper"] {
  @media (max-width: 600px) {
    width: 100% !important;
  }
}