.hoka-social-hash {
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  color: #595853;
}

.social-footer {
  padding: 50px 30px 30px;
}

.social-footer td {
  width: 16.66666667%;
  padding: 30px 5px 0;
  img {
    display: block;
    max-width: 95%;
    height: auto;
  }
}

.social-link-wrapper {
  max-width: 400px;
  padding-top: 30px;
  @media (max-width: 600px) {
    padding-left: 30px;
    padding-right: 30px;
  }
}