{{=<% %>=}}

<% > layout/header %>
<% > layout/shipping %>



<%# Components %>



  <%# _isNavbar %>
    <% > layout/navbar %>
  <%/ _isNavbar %>

  <%# _isHeadline %>
    <% > components/headline %>
  <%/ _isHeadline %>

  <%# _isHero %>
    <% > components/hero %>
  <%/ _isHero %>

  <%# _isCopy %>
    <% > components/copy %>
  <%/ _isCopy %>



  <%# _isArticle %>
    <% > components/article %>
  <%/ _isArticle %>

  <%# _isProductRow %>
    <% > components/product-row %>
  <%/ _isProductRow %>

  <%# _isBottomBanner %>
    <% > components/bottom-banners %>
  <%/ _isBottomBanner %>

<%/ Components %>

<% > layout/footer_social %>

<% > layout/litmus %>

</body>
</html>
