<td class="two-column article-wrapper" >

    <div class="article-big-wrap">
        <!--[if (gte mso 9)|(IE)]>
        <table width="100%" class="article-big-wrap">
            <tr>
                <td width="50%" valign="top" bgcolor="{{ bgColor }}">
        <![endif]-->
        <div class="article-column" >
            <table width="100%" bgcolor="{{ bgColor }}">
                <tr>
                    <td class="article-image" align="center">
                        <table class="contents" align="center">
                            <tr>
                                <td bgcolor="#{{ bgColor }}" >
                                    <a href="{{ href }}" name="product{{ id }}-img">
                                        {{ # image }}
                                        <img src="{{ & basePath }}images/{{ src }}.jpg" width="260" height="{{ height }}" alt="{{ alt }}" />
                                        {{ / image }}
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="markup" align="center">
                                    {{ # markup }}
                                    {{ & . }}<br>
                                    {{ / markup }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <!--[if (gte mso 9)|(IE)]>
        </td>
        <td width="50%" valign="top" bgcolor="{{ bgColor }}">
        <![endif]-->
        <div class="article-column">
            <table width="100%">
                <tr>
                    <td class="inner" align="center">
                        <table class="contents" >
                            <tr>
                                <td class="article-title" align="{{ align }}">
                                    <div>{{ & title }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="article-description" align="{{ align }}">
                                    <div>{{ & description }}</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="article-cta" align="{{ align }}">
                                    {{ # button }}
                                    <table>
                                        <tr>
                                            <td width="200" height="40" align="center" bgcolor="#{{ bgColor }}">
                                                <a class="article-cta-link" href="{{ href }}">
                                                    {{ & text }}
                                                </a>
                                            </td>
                                        </tr>
                                    </table>
                                    {{ / button }}
                                </td>

                            </tr>
                            <tr>
                                <td class="article-bottom-padding"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <!--[if (gte mso 9)|(IE)]>
        </td>

        </tr>
        </table>
        <![endif]-->
    </div>

</td>