<td class="headline-wrapper" align="center">


    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="responsive-element"  align="center">

                    <tr>
                        <td class="headline-container" align="center" width="100%">
                            <div class="headline">
                                {{ # markup }}
                                {{ & . }}<br>
                                {{ / markup }}
                            </div>
                        </td>
                    </tr>
                </table>


</td>