<td class="hero-wrapper"  align="center">
    <table border="0" cellpadding="0" cellspacing="0" width="100%" class="responsive-element"  align="center">
        <tr>
            <td align="center">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" align="center">
                    <tr>
                        <td class="hero-img-wrapper" align="center" bgcolor="{{ bgColor }}" width="100%">
                            <div class="hero">
                                <a name="{{ productID }}" href="{{ & href }}">
                                    <img alt="" width="600" height="{{ height }}" src="{{ & basePath }}images/{{ src }}.jpg">
                                </a>
                            </div>
                        </td>
                    </tr>
                </table>
            </td>

        </tr>


    </table>
</td>