

<td class="two-column">
    <!--[if (gte mso 9)|(IE)]>
    <table width="100%">
        <tr>
                {{ # products }}
            <td width="50%" valign="top">
    <![endif]-->
    <div class="product-column">
        <table width="100%">
            <tr>
                <td class="inner" align="center">
                    <table class="contents" align="center">
                        <tr>
                            <td bgcolor="#{{ bgColor }}" >
                                <a href="{{ href }}" name="product{{ id }}-img">
                                    {{ # image }}
                                    <img src="{{ & basePath }}images/{{ src }}.jpg" width="260" height="{{ height }}" alt="{{ alt }}" />
                                    {{ / image }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="markup" align="center">
                                <a href="{{ href }}" name="product{{ id }}-desc">
                                {{ # markup }}
                                 {{ & . }}<br>
                                {{ / markup }}
                                </a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <!--[if (gte mso 9)|(IE)]>
    </td>
        {{ / products }}
    </tr>
    </table>
    <![endif]-->
</td>