<td class="two-column">
    <!--[if (gte mso 9)|(IE)]>
    <table width="100%">
        <tr>
                {{ # buttons }}
            <td width="50%" valign="top">
    <![endif]-->
    <div class="column">
        <table width="100%">
            <tr>
                <td class="inner" align="center">
                    <table class="contents" align="center">
                        <tr>
                            <td class="two-buttons" width="260" height="40" bgcolor="#{{ bgColor }}" align="center" style="border: 1px solid #{{ borderColor }};">
                                <a style="text-decoration: none; color: #{{ textColor}};" href="{{ href }}">{{ text }}</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <!--[if (gte mso 9)|(IE)]>
    </td>
    {{ / buttons }}
    </tr>
    </table>
    <![endif]-->

</td>


