<td class="two-column">
    <!--[if (gte mso 9)|(IE)]>
    <table width="100%">
        <tr>
            <td width="50%" valign="top">
    <![endif]-->
    <div class="column">
        <table width="100%">
            <tr>
                <td class="inner">
                    <table class="contents">
                        <tr>
                            <td>
                                <img src="{{ & basePath }}images/{{ src }}.jpg" width="280" alt="" />
                            </td>
                        </tr>
                        <tr>
                            <td class="text">
                                Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <!--[if (gte mso 9)|(IE)]>
    </td><td width="50%" valign="top">
    <![endif]-->
    <div class="column">
        <table width="100%">
            <tr>
                <td class="inner">
                    <table class="contents">
                        <tr>
                            <td>
                                <img src="{{ & basePath }}images/{{ src }}.jpg" width="280" alt="" />
                            </td>
                        </tr>
                        <tr>
                            <td class="text">
                                Maecenas sed ante pellentesque, posuere leo id, eleifend dolor. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <!--[if (gte mso 9)|(IE)]>
    </td>
    </tr>
    </table>
    <![endif]-->
</td>