<!DOCTYPE HTML>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Hoka One One</title>

<style type="text/css">

/* Reset Styles */
body {margin:0; padding:0;}
img {border:0; height:auto; line-height:100%; outline:none; text-decoration:none;}
table {border-collapse:collapse !important;}
body {margin:0; padding:0; min-width:100%; width:100% !important;}
.min-width {min-width: 100% !important;}

/* Apple specific Links */
.apple-link-black a {color:#111111; text-decoration:none;}
.apple-link-gray a {color:#999999; text-decoration:none;}
.apple-link-white a {color:#ffffff; text-decoration:none;}
.apple-link-Hoka a {color:#595853; text-decoration:none;}

/* Client Specific Styles */
#outlook a {padding:0;} /* Force Outlook to provide a "view in browser" message */
.ReadMsgBody {width:100%;} .ExternalClass{width:100%;} /* Force Hotmail to display emails at full width */
.ExternalClass, .ExternalClass p, .ExternalClass span, .ExternalClass font, .ExternalClass td, .ExternalClass div {line-height: 100%;} /* Force Hotmail to display normal line spacing */
body, table, td, a {-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%;} /* Prevent WebKit and Windows mobile changing default text sizes */
table, td {mso-table-lspace:0pt; mso-table-rspace:0pt;} /* Remove spacing between tables in Outlook 2007 and up */
img {-ms-interpolation-mode:bicubic;} /* Allow smoother rendering of resized image in Internet Explorer */

.img-fix {
  width: 100% !important;
  display: block !important;
}

  /* Fluid Mobile Media Queries */
  @media only screen and (max-width:600px) {
    img[class="img-fix"] {
      margin: 0 auto !important;
    }
    td[class="mobile-hide"] {
      display: none !important;
    }
    td[class="mobile-shipping"] {
      text-align: center !important;
    }
    table[class="responsive-element"],
    td[class="responsive-element"] {
      width: 100% !important;
      display: block !important;
    }
    table[class="wrapper-padding"] {
      padding: 0 15px !important;
    }


    table[class="responsive-table"] {width:100% !important; height:auto !important;} /* 100% Table for mobile */
    table[class="responsive-table-90"], td[class="responsive-table-90"] {width:90% !important; height:auto !important;} /* 100% Table for mobile */
    table[class="responsive-table-footer"] {width:90% !important; height:auto !important;} /* 90% Table for mobile footer */
    table[class="responsive-btn"] {width:100% !important; height:auto !important;} /* 100% Button for mobile */
    img[class="img-max"] {max-width: 100% !important; width: 100% !important; height: auto !important;} /* 100% Images */
    td[class="section-padding"] {padding: 35px 30px 35px 30px !important;} /* Section Padding */
	td[class="section-padding-social"] {padding: 40px 0 20px 0 !important;} /* Section Padding */
	td[class="section-padding-icons"] {padding: 10px 0 10px 0 !important;} /* Section Padding */
    td[class="section-padding-sides"] {padding: 0 30px 0 30px !important;} /* Section Padding */
    td[class="section-padding-sans-top"] {padding: 0 30px 35px 30px !important;} /* Section Padding */
    td[class="section-padding-sans-bottom"] {padding: 35px 30px 0 30px !important;} /* Section Padding */
    td[class="section-padding-btn"] {padding: 5px 30px 5px 30px !important;} /* Section Padding */
	td[class="section-padding-men-btn"] {padding: 40px 30px 5px 30px !important;} /* Section Padding */
    td[class="stack"] {padding:0 !important; margin:0 !important; display:block !important; width:100% !important;} /* Stack*/
    td[class="stack-10"] {padding:10px 0 0 0 !important; margin:0 !important; display:block !important; width:100% !important;} /* Stack*/
    td[class="call-us"] {padding: 18px 0 15px 0 !important;} /* Call Contact Padding */
    td[class="call-us-des"] {padding: 10px 0 10px 0 !important;} /* Call Contact Description Padding */
    span[class="hide"] {display:none !important;}

	div[class="shipping-width"] {width:70% !important;} /* Change width in Shipping */
}

</style>


</head>

<!-- Start Email Body -->
<body style="margin: 0; padding: 0;" >


  <!-- Start Shipping -->
  <table border="0" align="center" cellpadding="0" cellspacing="0"  width="100%">
    <tr>
      <td bgcolor="#595853" align="center" width="100%">
        <table border="0" cellpadding="0" cellspacing="0" align="center" class="responsive-element" width="570">
          <tr>
            <td width="100%" class="responsive-element" align="right" style="padding: 10px 15px;">
              <a name="nav_shipping" href="http://www.hokaoneone.com/" style="letter-spacing:.1em; text-transform:uppercase; color:#{{ PrimaryColor }}; font-family:Helvetica, Arial, sans-serif; font-size: 13px; color:#{{ SecondaryColor }}; text-decoration:none;">
                30 Day Trial + Free Shipping &amp; Free Returns
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <!-- End Shipping -->


  <table border="0" align="center" cellpadding="0" cellspacing="0"  width="100%">

    <tr>
    <td>
      <table border="0" align="center" cellpadding="0" cellspacing="0" width="600" class="responsive-table">
        <tr>
          <td align="center" style="padding: 30px;" >
            <table width="100%" class="responsive-element" align="center" border="0" cellpadding="0" cellspacing="0">
              <tr>
                <td align="center" class="responsive-element" width="25%">
                  <img class="img-fix" style=" max-width: 200px;" src="images/logo.png" alt="Hoka Logo" width="100%" />
                </td>
                <td width="75%" align="right" class="mobile-hide" style="font-family:Helvetica, Arial, sans-serif; text-transform: uppercase; font-size: 14px;">
                  <a style="color: #{{ PrimaryColor }}; text-decoration: none;" href="#">
                    women
                  </a>
                  <a style="color: #{{ PrimaryColor }}; padding-left: 10px; text-decoration: none;" href="#">
                    men
                  </a>
                  <a style="color: #{{ PrimaryColor }}; padding-left: 10px; text-decoration: none;" href="#">
                    new arrivals
                  </a>
                  <a style="color: #{{ PrimaryColor }}; padding-left: 10px;ßtext-decoration: none;" href="#">
                    best sellers
                  </a>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>



<table border="0" align="center" cellpadding="0" cellspacing="0" class="wrapper-padding" width="100%">
  <tr>
    <td  align="center"  class="section-padding-sides">
      <table width="570" class="responsive-table" align="center" border="0" cellpadding="0" cellspacing="0" >
        <tr>
          <td bgcolor="{{bgColor}}" class="responsive-element" align="center" style="font-size: 20px;">
            Introducing the Clayton
            Hello Speedcushion.
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>



  <!-- Start Image -->
  <table border="0" cellpadding="0" cellspacing="0" class="min-width" style="table-layout: fixed;" width="100%">
    <tr>
      <td align="center" class="section-padding-sides">
      <!--[if gte mso 9]>
      <table id="outlookholder" border="0" cellspacing="0" cellpadding="0" align="center"><tr><td>
      <![endif]--><!--[if (IE)]>
      <table border="0" cellspacing="0" cellpadding="0" width="600" align="center"><tr><td>
      <![endif]-->
        <table border="0" cellpadding="0" cellspacing="0" class="responsive-table" width="570">
          <tr>
            <td>
              <!-- Hero Image -->
              <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td align="center">
                    <a name="" href=""><img alt="" border="0" class="img-max" width="570" height="500" src="http://placehold.it/600x500" style="display: block; color: #595853; text-decoration:none; font-family:Helvetica, Arial, sans-serif; font-size:20px;"></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
        </table>
      <!--[if mso]>
      </td></tr></table>
      <![endif]--><!--[if (IE)]>
      </td></tr></table>
      <![endif]-->
      </td>
    </tr>
  </table>
  <!-- End Image -->


  <table border="0" cellpadding="0" cellspacing="0" class="responsive-element" width="100%">
    <tr>
      <td align="center" class="section-padding-sides">

        <table border="0" cellpadding="0" cellspacing="0" class="responsive-element" width="570">
          <tr>
            <td class="responsive-element" align="{{align}}">

              {{ text }}

            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>


  <table   border="0" cellpadding="0" cellspacing="0" class="responsive-element" width="100%">
    <tr>
      <td align="center"  class="section-padding-sides">
        <table border="0" cellpadding="0" cellspacing="0" class="responsive-element" width="550">
          <tr>
            <td class="responsive-element"  width="50%">
              <img class="img-fix" src="images/product1.jpg" alt="ALTTAG" />
            </td>
            <td class="responsive-element" width="50%">

              <table border="0" cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td>
                    INTRODUCING
                  </td>
                </tr>
                <tr>
                  <td>
                    Introducing the Clayton<br/><em>Hello Speedcushion</em>.
                  </td>
                </tr>
                <tr>
                  <td>
                    <a style="display: block; background: 1681C6" href="http:&#x2F;&#x2F;yahoo.com">SHOPNOW</a>
                  </td>
                </tr>
              </table>

            </td>
          </tr>
        </table>

      </td>
    </tr>
  </table>


  <table border="0" align="center" cellpadding="0" cellspacing="0" class="min-width" style="table-layout: fixed;" width="85%">
    <tr>
      <td align="center" class="section-padding-sides">
        <table border="0" cellpadding="0" cellspacing="0" class="responsive-element" width="570">
          <tr>
            <td align="center" width="285">
              <a name="product1-img" href="http:&#x2F;&#x2F;google.com" style="text-decoration:none;">
                <img width="285" height="192" src="images/product1.jpg" alt="Shop Clifton 5 Now!" border="0" class="img-fix" style="font-size:18px; font-family:Helvetica, Arial, sans-serif; font-weight:normal; text-transform:uppercase; color:#595853; display:block;"/><br>
                Clifton 5
              </a>
            </td>
            <td align="center" width="285">
              <a name="product2-img" href="http:&#x2F;&#x2F;yahoo.com" style="text-decoration:none;">
                <img width="285" height="192" src="images/product2.jpg" alt="Shop Women&#39;s Clifton Now!" border="0" class="img-fix" style="font-size:18px; font-family:Helvetica, Arial, sans-serif; font-weight:normal; text-transform:uppercase; color:#595853; display:block;"/>
                <br>
                Women&#39;s Clifton
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>

  <table border="0" cellpadding="0" cellspacing="0" class="responsive-element" width="100%">

    <tr>
      <td align="center" class="section-padding-sides">
        <table border="0" cellpadding="0" cellspacing="0" class="responsive-element" width="570">
          <tr>
            <td class="responsive-element" align="center" width="285">
              <a name="product1-img" href="http:&#x2F;&#x2F;google.com" style="text-decoration:none;">
                <img class="img-max" width="285" height="132" src="images/banner-one.jpg" alt="Shop Clifton 5 Now!" border="0" style="font-size:18px; font-family:Helvetica, Arial, sans-serif; font-weight:normal; text-transform:uppercase; color:#595853; display:block;"/><br>
                Clifton 5
              </a>
            </td>
            <td class="responsive-element" align="center" width="285">
              <a name="product2-img" href="http:&#x2F;&#x2F;yahoo.com" style="text-decoration:none;">
                <img class="img-max" width="285" height="132" src="images/banner-two.jpg" alt="Shop Women&#39;s Clifton Now!" border="0" style="font-size:18px; font-family:Helvetica, Arial, sans-serif; font-weight:normal; text-transform:uppercase; color:#595853; display:block;"/><br>
                Women&#39;s Clifton
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>



  </body>
</html>
