

<td class="two-column">

    <!--[if (gte mso 9)|(IE)]>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
                {{ # banners }}
            <td width="50%" valign="top">
    <![endif]-->
    <div class="banner-column">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center">
                    <table class="contents" align="center">
                        <tr>
                            <td bgcolor="#{{ bgColor }}">
                                <a href="{{ href }}" name="product{{ id }}-img">
                                    {{ # image }}
                                    <img src="{{ & basePath }}images/{{ src }}.jpg" width="280" height="{{ height }}" alt="{{ alt }}" />
                                    {{ / image }}
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td class="markup">
                                {{ # markup }}
                                {{ & . }}<br>
                                {{ / markup }}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <!--[if (gte mso 9)|(IE)]>
    </td>
        {{ / banners }}
    </tr>
    </table>
    <![endif]-->
</td>