<td class="footer">

    <table align="center" width="100%">
        <tr>
            <td align="center" class="footer_legal">
                <table width="100%" align="center">
                    <tr>
                        <td align="center">
                            We only send email to individuals who have opted in at our site: <a href="http://hokaoneone.com">hokaoneone.com</a>
                        </td>
                    </tr>
                    <tr>
                        <td align="center" class="footer_legal_links">
                            {{ # links }}
                            <a href="{{href}}">{{title}}</a> {{ # sep }} | {{ / sep }}
                            {{ / links }}
                        </td>
                    </tr>
                </table>

            </td>
        </tr>

        <tr>
            <td align="center" class="footer_address">
               123 North Leroux Street, Flagstaff, AZ 86001 | 866.491.3125
           </td>
        </tr>
    </table>


</td>