<td class="navbar" align="center">

    <table width="100%">

        <tr>
            <td align="center" class="logo-wrapper">
                <a href="http://hokaoneone.com" name="logo-img">
                    <img src="{{ & basePath }}images/logo.png" alt="Hoka Logo" width="150" />
                </a>
            </td>
        </tr>

        <tr>
            <td class="mobile-hide nav-links" align="center">
                <table align="center">
                    <tr>
                        <td align="center">
                            <table>
                                <tr>
                                    <td>
                                        <a href="http://hokaoneone.com/womens-view-all/">
                                            women
                                        </a>
                                    </td>
                                    <td>
                                        <a href="http://hokaoneone.com/mens-view-all/">
                                            men
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#">
                                            new arrivals
                                        </a>
                                    </td>
                                    <td>
                                        <a href="#">
                                            best sellers
                                        </a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>

</td>
