<td class="social-footer" align="center">

        <div class="hoka-social-hash">
            #hokaoneone
        </div>

    <!--[if (gte mso 9)|(IE)]>
    <table width="500" align="center">
        <tr>
            <td width="50%" valign="top">
    <![endif]-->

    <table class="social-link-wrapper" align="center" width="100%">
        <tr>
            {{ # socialLinks }}
            <td align="center">
                <a href="{{ href }}">
                    <img src="{{ & basePath }}images/{{ src }}.gif" width="46" height="46" alt="{{ alt }}" />
                </a>
            </td>
            {{ / socialLinks }}
        </tr>
    </table>
    <!--[if (gte mso 9)|(IE)]>
</td>
</tr>
</table>
<![endif]-->

</td>