.article-wrapper {
  padding: 20px 30px;
}

.article-big-wrap {
  //padding-top: 30px;
  //padding-bottom: 30px;
  background: #f7f7f9;
}

.article-image {
  padding-top: 50px;
}

.article-title {
  font-size: 20px;
  font-weight: bold;
  color: #595853;
  line-height: 25px;
  padding-top: 30px;
}

.article-description {
  color: #595853;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 20px;
  line-height: 20px;
}


.article-cta-link {
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.article-bottom-padding {
  padding-bottom: 30px;
}

.two-column .article-column {
  width: 100%;
  max-width: 260px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

//div[class="article-column"] {
//  @media (max-width: 600px) {
//    max-width: 100% !important;
//  }
//}
