td[class="headline-wrapper"] {
  @media(max-width: 600px){
    max-width: 100% !important;
  }
}

.headline-container {
  background: #f7f7f9;
  padding-top: 20px;
  padding-bottom: 20px;
}

.headline-wrapper {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.headline {
  text-align: center;
  font-size: 28px;
  color: #595853;
}
