td[class="hero-wrapper"] {

  margin: 0 !important;

    padding-left: 30px !important;
    padding-right: 30px !important;
}

.hero-wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.hero-img-wrapper img {
  max-width: 100%;
  height: auto;
  display: block;
}

.hero-stacked-wrapper {
  @media(max-width: 600px){
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}