a {
  text-decoration: none;
}

.img-fix {
  width: 100% !important;
  display: block !important;
  max-width: 100% !important;
}





@media (max-width: 600px) {

  table[class="responsive-element"],
  td[class="responsive-element"] {
    max-width: 100% !important;
  }

  td[class="spacing"]{
    width: 40px !important;
  }

  .mobile-hide {
    display: none !important;
  }

}