.markup {
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
  line-height: 20px;
}

.two-column .product-column {
  width: 100%;
  max-width: 280px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.product-column a {
  color: #595853;
}

div[class="product-column"] {
  @media (max-width: 600px) {
    max-width: 100% !important;
  }
}




