td[class="subline-wrapper"] {
  @media(max-width: 600px){
    padding-left: 30px !important;
    padding-right: 30px !important;
    max-width: 100% !important;
  }
}
.subline-wrapper {
  padding: 20px 30px;
}


.subline {
  color: #595853;
  text-align: center;
  text-transform: uppercase;
  line-height: 26px;
}