/* Basics */
body {
  margin: 0 !important;
  padding: 0;
  background-color: #ffffff;
}
table {
  border-spacing: 0;
  font-family: sans-serif;
  color: #333333;
}
table {
  border-collapse: collapse;
  mso-table-lspace: 0pt;
  mso-table-rspace: 0pt;
}
td {
  padding: 0;
}
img {
  border: 0;
}
div[style*="margin: 16px 0"] {
  margin: 0 !important;
}
.wrapper,
.shipping-wrapper {
  width: 100%;
  table-layout: fixed;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
.webkit {
  max-width: 600px;
  margin: 0 auto;
}
.outer {
  Margin: 0 auto;
  width: 100%;
  max-width: 600px;
}
.inner {
  padding: 10px;
}
p {
  Margin: 0;
}
a {
  text-decoration: underline;
}
.h1 {
  font-size: 21px;
  font-weight: bold;
  Margin-bottom: 18px;
}
.h2 {
  font-size: 18px;
  font-weight: bold;
  Margin-bottom: 12px;
}
.ReadMsgBody {
  width: 100%;
}
.ExternalClass {
  width: 100%;
}
p,
a,
li,
td,
blockquote {
  mso-line-height-rule: exactly;
}
a[href^=tel],
a[href^=sms] {
  color: inherit;
  cursor: default;
  text-decoration: none;
}
.ExternalClass,
.ExternalClass p,
.ExternalClass td,
.ExternalClass div,
.ExternalClass span,
.ExternalClass font {
  line-height: 100%;
}
img,
a img {
  border: 0;
  height: auto;
  outline: none;
  text-decoration: none;
}
a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
body,
#bodyTable,
#bodyCell {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
#outlook a {
  padding: 0;
}
.two-column .banner-column {
  width: 100%;
  max-width: 280px;
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 600px) {
  div[class="banner-column"] {
    max-width: 100% !important;
  }
}
.footer {
  font-size: 11px;
  padding: 0 30px;
}
.footer_legal {
  color: #595853;
  padding-top: 25px;
}
.footer_legal a {
  color: #1681c5;
  text-decoration: underline;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.footer_legal_links {
  padding-top: 5px;
}
.footer_address {
  color: #595853;
  padding: 25px 0;
}
@media (min-width: 100px) {
  .footer_address a {
    color: #595853;
    text-decoration: underline;
  }
}
@media (max-width: 600px) {
  td[class="navbar"] .logo-wrapper {
    width: 100% !important;
  }
}
.logo-wrapper {
  padding: 30px 0 10px;
  max-width: 100%;
  width: 190px;
}
.nav-links {
  width: 405px;
  max-width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav-links td {
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.nav-links a {
  text-transform: uppercase;
  text-decoration: none;
  color: #1681c5;
  font-size: 16px;
}
.shipping-wrapper {
  background: #595853;
}
.shipping-container {
  max-width: 100%;
}
@media (max-width: 600px) {
  .shipping-container {
    text-align: center !important;
    width: 100% !important;
  }
}
.shipping-link {
  color: #e7bc13;
}
td[class="shipping"] {
  letter-spacing: .1em;
  text-transform: uppercase;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  text-decoration: none;
}
@media (max-width: 600px) {
  td[class="shipping"] {
    text-align: center !important;
    width: 100% !important;
  }
}
.shipping {
  padding: 5px 10px;
  font-size: 14px;
}
@media (max-width: 600px) {
  table[class="shipping-inner-wrapper"] {
    width: 100% !important;
  }
}
.hoka-social-hash {
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bold;
  font-size: 18px;
  color: #595853;
}
.social-footer {
  padding: 50px 30px 30px;
}
.social-footer td {
  width: 16.66666667%;
  padding: 30px 5px 0;
}
.social-footer td img {
  display: block;
  max-width: 95%;
  height: auto;
}
.social-link-wrapper {
  max-width: 400px;
  padding-top: 30px;
}
@media (max-width: 600px) {
  .social-link-wrapper {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.article-wrapper {
  padding: 20px 30px;
}
.article-big-wrap {
  background: #f7f7f9;
}
.article-image {
  padding-top: 50px;
}
.article-title {
  font-size: 20px;
  font-weight: bold;
  color: #595853;
  line-height: 25px;
  padding-top: 30px;
}
.article-description {
  color: #595853;
  font-size: 14px;
  padding-top: 8px;
  padding-bottom: 20px;
  line-height: 20px;
}
.article-cta-link {
  font-size: 14px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}
.article-bottom-padding {
  padding-bottom: 30px;
}
.two-column .article-column {
  width: 100%;
  max-width: 260px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
@media (max-width: 600px) {
  td[class="headline-wrapper"] {
    max-width: 100% !important;
  }
}
.headline-container {
  background: #f7f7f9;
  padding-top: 20px;
  padding-bottom: 20px;
}
.headline-wrapper {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.headline {
  text-align: center;
  font-size: 28px;
  color: #595853;
}
td[class="hero-wrapper"] {
  margin: 0 !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.hero-wrapper {
  padding-left: 30px;
  padding-right: 30px;
}
.hero-img-wrapper img {
  max-width: 100%;
  height: auto;
  display: block;
}
@media (max-width: 600px) {
  .hero-stacked-wrapper {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) {
  .headline {
    font-size: 22px !important;
  }
}
a {
  text-decoration: none;
}
.img-fix {
  width: 100% !important;
  display: block !important;
  max-width: 100% !important;
}
@media (max-width: 600px) {
  table[class="responsive-element"],
  td[class="responsive-element"] {
    max-width: 100% !important;
  }
  td[class="spacing"] {
    width: 40px !important;
  }
  .mobile-hide {
    display: none !important;
  }
}
/* One column layout */
.one-column .contents {
  text-align: left;
}
.one-column p {
  font-size: 14px;
  Margin-bottom: 10px;
}
.markup {
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
  line-height: 20px;
}
.two-column .product-column {
  width: 100%;
  max-width: 280px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.product-column a {
  color: #595853;
}
@media (max-width: 600px) {
  div[class="product-column"] {
    max-width: 100% !important;
  }
}
@media (max-width: 600px) {
  td[class="subline-wrapper"] {
    padding-left: 30px !important;
    padding-right: 30px !important;
    max-width: 100% !important;
  }
}
.subline-wrapper {
  padding: 20px 30px;
}
.subline {
  color: #595853;
  text-align: center;
  text-transform: uppercase;
  line-height: 26px;
}
.two-buttons {
  font-size: 16px;
}
/*Two column layout*/
.two-column {
  text-align: center;
  font-size: 0;
}
.two-column .column {
  width: 100%;
  max-width: 280px;
  display: inline-block;
  vertical-align: top;
}
