{{=<% %>=}}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <!--[if !mso]><!-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!--<![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
    <!--[if (gte mso 9)|(IE)]>
    <style type="text/css">
        table {border-collapse: collapse;}
    </style>
    <![endif]-->
</head>
<body>


<% > branded/shipping %>

<center class="wrapper">
    <div class="webkit">


        <!--[if (gte mso 9)|(IE)]>
        <table width="600" align="center">
            <tr>
                <td>
        <![endif]-->
        <table class="outer" align="center">

            <tr>
                <% > branded/navbar %>
            </tr>

            <%# Components %>


            <%# _isArticle %>
            <tr>
                <% > global/article %>
            </tr>
            <%/ _isArticle %>


            <%# _isSubline %>
            <tr>
            <% > global/subline %>
            </tr>
            <%/ _isSubline %>

            <%# _isHeadline %>
            <tr>
            <% > global/headline %>
            </tr>
            <%/ _isHeadline %>

            <%# _isHero %>
            <tr>
                <% > global/hero %>
            </tr>
            <%/ _isHero %>

            <%# _isProductRow %>
            <tr>
                <% > global/products %>
            </tr>
            <%/ _isProductRow %>


            <%/ Components %>

            <%# FooterBanners %>
            <tr>
                <% > branded/dual-banners %>
            </tr>
            <%/ FooterBanners %>

            <%# SocialFooter %>
            <tr>
                <% > branded/social-footer %>
            </tr>
            <%/ SocialFooter %>


            <%# Footer %>
            <tr>
                <% > branded/footer %>
            </tr>
            <%/ Footer %>



        </table>
        <!--[if (gte mso 9)|(IE)]>
        </td>
        </tr>
        </table>
        <![endif]-->
    </div>
</center>

<% & > branded/litmus %>

</body>
</html>